# Paths needed for compilation and runtime
export SLURM_HOME=/opt/slurm
export PATH=$PATH:$SLURM_BIN
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$SLURM_HOME/lib
# Parameters for gunicorn
export GUNICORN=gunicorn
export GUNICORN_WORKERS=5
export GUNICORN_HOST=0.0.0.0
export GUNICORN_PORT=10080
export GUNICORN_OPTS=
# Parameters for the metrics
# Labels: ignore or include
export METRIC_LABEL_JOB_ID=ignore
export METRIC_LABEL_USER_ID=ignore
export METRIC_LABEL_NODE_NAME=ignore
export METRIC_LABEL_NODE_ARCH=ignore
export METRIC_VALUE_NULL=ignore
