# Paths needed for compilation and runtime
export SLURM_HOME=/opt/slurm
export PYTHON=/usr/bin/python36
export PATH=$PATH:$SLURM_BIN
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$SLURM_HOME/lib
# Parameters for gunicorn
export GUNICORN=gunicorn
export GUNICORN_WORKERS=5
export GUNICORN_HOST=localhost
export GUNICORN_PORT=10080
export GUNICORN_OPTS=
